aiofile==1.5.2
async-generator==1.10
async-lru==1.0.1
cffi==1.14.0
cryptography==2.9.2
pyaes==1.6.1
pycparser==2.20
Pyrogram @ https://github.com/pyrogram/pyrogram/archive/asyncio.zip
PySocks==1.7.1
six==1.15.0
TgCrypto==1.2.1
